[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "*"
activesoup = "*"
requests = "*"
slimit = "*"
calmjs-parse = "*"
json-minify = "*"

[requires]
python_version = "3.7"
